body {
    margin: 0;
    background: #f7f9fc;
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    background: #333a56;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.container {
    display: flex;
    padding: 25px;
    gap: 30px;
}

/* LEFT & RIGHT BOXES */
.not-submitted,
.submitted {
    flex: 1;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.student-box {
    padding: 12px;
    background: #e2e6ea;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}
